html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - 200px);  /* half of canvas height */
}
#p5-canvas { 
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - 200px); 

}

 h1 {
   color: aqua;
 }
 h2 {
   color: aliceblue;
 }
 p {
   color:brown
   
 }